@font-face {
    font-family: "Poppins";
    src: local("PoppinsThin"),
    url("../../fonts/SVN-Poppins (18 fonts)/TTF/SVN-Poppins-Thin.ttf") format("truetype");
    font-weight: 100;
}
@font-face {
    font-family: "Poppins";
    src: local("PoppinsExtraLight"),
    url("../../fonts/SVN-Poppins (18 fonts)/TTF/SVN-Poppins-ExtraLight.ttf") format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: "Poppins";
    src: local("PoppinsLight"),
    url("../../fonts/SVN-Poppins (18 fonts)/TTF/SVN-Poppins-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "Poppins";
    src: local("PoppinsRegular"),
    url("../../fonts/SVN-Poppins (18 fonts)/TTF/SVN-Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Poppins";
    src: local("PoppinsMedium"),
    url("../../fonts/SVN-Poppins (18 fonts)/TTF/SVN-Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Poppins";
    src: local("PoppinsSemiBold"),
    url("../../fonts/SVN-Poppins (18 fonts)/TTF/SVN-Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Poppins";
    src: local("PoppinsBold"),
    url("../../fonts/SVN-Poppins (18 fonts)/TTF/SVN-Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "Poppins";
    src: local("PoppinsExtraBold"),
    url("../../fonts/SVN-Poppins (18 fonts)/TTF/SVN-Poppins-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}
@font-face {
    font-family: "Poppins";
    src: local("PoppinsBlack"),
    url("../../fonts/SVN-Poppins (18 fonts)/TTF/SVN-Poppins-Black.ttf") format("truetype");
    font-weight: 900;
}

@media only screen and (min-width: 1300px) {
    #navbar {
        height: 100px;
        position: sticky;
        text-align: center;
        font-size: 14px;
        z-index: 500;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }

    #navbar .logo {
        display: inline-block;
        float: left;
        padding-left: 93px;
        height: 100%;
        vertical-align: middle;
    }

    #navbar .logo img {
        padding-top: 21px;
        width: 194px;
        vertical-align: middle;
        cursor: pointer;
    }

    #navbar a {
        font-family: Poppins;
        font-weight: 600;
        text-decoration: none;
        color: black;
    }

    #navbar ul {
        display: inline-block;
        line-height: 100px;
        padding-left: 50px;
    }

    #navbar ul li {
        display: inline-block;
        padding-left: 40px;
    }

    #navbar .right-navbar-content {
        float: right;
        margin-right: 93px;
    }
}

@media only screen and (max-width: 1300px) {
    #navbar {
        height: 100px;
        position: sticky;
        font-size: 14px;
        z-index: 500;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }

    #navbar .logo {
        display: inline-block;
        float: left;
        padding-left: 93px;
        height: 100%;
        vertical-align: middle;
    }

    #navbar .logo img {
        padding-top: 21px;
        width: 194px;
        vertical-align: middle;
        cursor: pointer;
    }

    #navbar a {
        text-decoration: none;
        color: black;
    }

    #navbar ul {
        display: inline-block;
        padding-left: 10px;
        line-height: 100px;
    }

    #navbar .left-navbar-content {
        display: inline-block;
        padding-left: 10px;
        line-height: 100px;
        display: none;
    }

    #navbar ul li {
        display: inline-block;
        padding-left: 40px;
    }

    #navbar .right-navbar-content {
        float: right;
        margin-right: 93px;
    }
}

