@media only screen and (min-width: 1300px) {
    #navbar {
        height: 100px;
        position: sticky;
        text-align: center;
        font-size: 14px;
        z-index: 500;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }

    #navbar .logo {
        display: inline-block;
        float: left;
        padding-left: 93px;
        height: 100%;
        vertical-align: middle;
    }

    #navbar .logo img {
        padding-top: 21px;
        width: 194px;
        vertical-align: middle;
        cursor: pointer;
    }

    #navbar a {
        text-decoration: none;
        color: black;
    }

    #navbar ul {
        display: inline-block;
        line-height: 100px;
        padding-left: 50px;
    }

    #navbar ul li {
        display: inline-block;
        padding-left: 40px;
    }

    #navbar .right-navbar-content {
        float: right;
        margin-right: 93px;
    }
}

@media only screen and (max-width: 1300px) {
    #navbar {
        height: 100px;
        position: sticky;
        font-size: 14px;
        z-index: 500;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }

    #navbar .logo {
        display: inline-block;
        float: left;
        padding-left: 93px;
        height: 100%;
        vertical-align: middle;
    }

    #navbar .logo img {
        padding-top: 21px;
        width: 194px;
        vertical-align: middle;
        cursor: pointer;
    }

    #navbar a {
        text-decoration: none;
        color: black;
    }

    #navbar ul {
        display: inline-block;
        padding-left: 10px;
        line-height: 100px;
    }

    #navbar .left-navbar-content {
        display: inline-block;
        padding-left: 10px;
        line-height: 100px;
        display: none;
    }

    #navbar ul li {
        display: inline-block;
        padding-left: 40px;
    }

    #navbar .right-navbar-content {
        float: right;
        margin-right: 93px;
    }
}

