@font-face {
    font-family: "Poppins";
    src: local("PoppinsThin"),
    url("../fonts/SVN-Poppins (18 fonts)/TTF/SVN-Poppins-Thin.ttf") format("truetype");
    font-weight: 100;
}
@font-face {
    font-family: "Poppins";
    src: local("PoppinsExtraLight"),
    url("../fonts/SVN-Poppins (18 fonts)/TTF/SVN-Poppins-ExtraLight.ttf") format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: "Poppins";
    src: local("PoppinsLight"),
    url("../fonts/SVN-Poppins (18 fonts)/TTF/SVN-Poppins-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "Poppins";
    src: local("PoppinsRegular"),
    url("../fonts/SVN-Poppins (18 fonts)/TTF/SVN-Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Poppins";
    src: local("PoppinsMedium"),
    url("../fonts/SVN-Poppins (18 fonts)/TTF/SVN-Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Poppins";
    src: local("PoppinsSemiBold"),
    url("../fonts/SVN-Poppins (18 fonts)/TTF/SVN-Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Poppins";
    src: local("PoppinsBold"),
    url("../fonts/SVN-Poppins (18 fonts)/TTF/SVN-Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "Poppins";
    src: local("PoppinsExtraBold"),
    url("../fonts/SVN-Poppins (18 fonts)/TTF/SVN-Poppins-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}
@font-face {
    font-family: "Poppins";
    src: local("PoppinsBlack"),
    url("../fonts/SVN-Poppins (18 fonts)/TTF/SVN-Poppins-Black.ttf") format("truetype");
    font-weight: 900;
}

:root {
    --color-theme: #22BAEC;
    --color-txt: #333333;
    --font-family: Poppins;
    /*form*/
    --form-label-font-family: Poppins;
    /*header config*/
    --header-weight: 700;
    --header-size: 32px;
    --header-marginTop: 64px;
    --small-header-size: 14px;
    /*button config*/
    --button-fontFamily: Poppins;
    --button-borderRadius: 50px;
    --button-borderStyle: none;
    --button-margin: 0;
    --button-width: 185px;
    --button-height: 64px;
    --button-fontSize: 22px;
    --button-fontWeight: 700;
    --button-backgroundColor: var(--color-theme);
    --button-boxShadow: 0px 4px 4px rgba(0, 187, 249, 0.2), inset -2px -2px 4px rgba(0, 0, 0, 0.25);
}

#root {
    background: url("../img/landing-page-background.png");
    background-size: 100%;
}

.form-control::placeholder{
    color: #CECECE !important;
}

.session-info.form-control::placeholder{
    color: #FFB830 !important;
}


/*tutor description page style changes based on scroll*/
.test {
    color: #5A5A5A;
}

.test.colorChange > p{
    color:#00BBF9;
}

.test.colorChange > div {
    width:132px;
    height:3px;
    background:#00BBF9;
}
/**/

/*form style*/
#email .email-info, #password .password-info, #password-confirm .password-confirm-info {
    font-family: Poppins;
    font-style: normal;
    min-height: 64px;
    height: 64px;
    color: #787885;
    border: 1px solid #00BBF9;
    border-radius: 50px;
    text-indent: 35px;
}

#name .info, #dob .info {
    font-family: Poppins;
    font-style: normal;
    font-size: 14px;
    height: 64px;
    color: #787885;
    background: #FFFFFF;
    /* Black */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 32px;
    text-indent: 24px;
    border-style: none;
}

#profile .info {
    font-family: Poppins;
    font-style: normal;
    font-size: 14px;
    height: 48px;
    width: 486px;
    color: #787885;
    background: #FFFFFF;
    /* Black */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 32px;
    text-indent: 24px;
    border-style: none;
}

#session .session-info {
    font-family: Poppins;
    font-style: normal;
    font-size: 14px;
    height: 48px;
    color: #FFB830;
    background: #FFFFFF;
    border: 1px solid #FFB830;
    border-radius: 32px;
    text-indent: 24px;
}

span.first-icon{
    position: absolute;
    margin-left: 20px;
    height: 64px;
    display: flex;
    align-items: center;
}

.first-icon i {
    color: #CECECE;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    color: #00BBF9;
    text-indent: 24px;
}

.course-registration select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    color: #A7A7A7;
    text-indent: 24px;
}

.tutor-description .comment .heading {
    font-weight: 600;
}

#name .required:after, #dob .required:after {
    content:"*";
    color:red;
}

.container-below-input {
    padding-bottom: 20px;
}

/*TutorDescription*/
.subject {
    width: fit-content;
    height: fit-content;
    font-size: 12px;
    color: white;
    padding: 8px 24px;
    background: #00BBF9;
    border: 1px solid #00BBF9;
    box-shadow: 0px 4px 4px rgba(0, 187, 249, 0.2), inset -2px -2px 4px rgba(0, 0, 0, 0.25);
    border-radius:16px;
    margin-bottom:40px;
}

/*button effect*/
.button_slide {
    height: 64px;
    background-color: transparent;
    border: 1px solid #00BBF9;
    border-radius: 50px;
    padding: 18px 36px;
    display: inline-block;
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #00BBF9;
    -webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
    color: #00BBF9;
}

.slide_right:hover {
    box-shadow: inset 400px 0 0 0 #00BBF9;
    color: white;
}

.slide_right a:hover {
    color: black;
}

/* Popup style */
.popup-box {
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.box {
    position: relative;
    z-index: 100 !important;
    width: fit-content;
    margin: 0 auto;
    height: fit-content;
    min-height: 700px;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 50px);
    padding: 32px 190px 87px;
    background: #EEFBFE;
    border: 3px solid rgba(255, 255, 255, 0.28);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 61px;
}

.close-icon {
    content: 'x';
    cursor: pointer;
    position: absolute;
    z-index: 200;
    right: 40px;
    top: 40px;
    width: 25px;
    height: 25px;
    line-height: 20px;
    text-align: center;
    font-size: 30px;
}

#name4 .info4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    height: 50px;
    margin-left:50px;
    width: 650px;
    color: #787885;
    background: #FFFFFF;
    /* Black */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 32px;
    text-indent: 24px;
    border-style: none;
}
.upload{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    height: 50px;
    margin-left:50px;
    width: 650px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 32px;
}