@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --color-theme: #22BAEC;
    --font-family: 'Poppins', sans-serif;
    /*header config*/
    --header-weight: 700;
    --header-size: 80px;
    /*button config*/
    --button-borderRadius: 16px;
    --button-borderStyle: none;
    --button-margin: 0;
    --button-width: 185px;
    --button-fontSize: 22px;
    --button-fontWeight: 700;
    --button-backgroundColor: var(--color-theme);
}

#email .email-info, #password .password-info, #password-confirm .password-confirm-info {
    font-family: 'Poppins', sans-serif;
    min-height: 70px;
    color: #787885;
    border-color: #D9D9D9;
    border-radius: 16px;
}

.container-below-input {
    padding-bottom: 20px;
}

.horizontal-line {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    font-size: 22px;
    color: #787885;
}

.horizontal-line:before,
.horizontal-line:after {
    content: "";
    white-space: nowrap;
    flex: 1 1;
    border-bottom: 1px solid #787885;
    margin: auto;
}