@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --color-theme: #22BAEC;
    --color-txt: #0AB5FF;
    --font-family: 'Poppins', sans-serif;
    /*header config*/
    --header-weight: 700;
    --header-size: 32px;
    /*button config*/
    --button-borderRadius: 16px;
    --button-borderStyle: none;
    --button-margin: 0;
    --button-width: 185px;
    --button-fontSize: 22px;
    --button-fontWeight: 700;
    --button-backgroundColor: var(--color-theme);
}

#root {
    background-color: #cae3ee;
}

.form-control::placeholder{
    color: #CECECE !important;
}

#email .email-info, #password .password-info, #password-confirm .password-confirm-info, #name .info, #dob .info {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    min-height: 64px;
    color: #787885;
    border: 1px solid #00BBF9;
    border-radius: 50px;
}

#name .required:after, #dob .required:after {
    content:"*";
    color:red;
}

.container-below-input {
    padding-bottom: 20px;
}